@model INMOBILIARIA_JosiasTolaba.Models.Propietario;

@{
	ViewData["Title"] = "Propietario-Detalle";
}
<h1>
	Propietario
</h1>
<hr />
<div>
    <dl class="row">

        <input type="hidden" id="IdPropietario" value="@Model.IdPropietario" />

        <dt class="col-sm-2">Nombre</dt>
        <dd class="col-sm-10">@Model.Nombre</dd>

        <dt class="col-sm-2">Apellido</dt>
        <dd class="col-sm-10">@Model.Apellido</dd>

        <dt class="col-sm-2">Dni</dt>
        <dd class="col-sm-10">@Model.Dni</dd>

        <dt class="col-sm-2">Telefono</dt>
        <dd class="col-sm-10">@Model.Telefono</dd>

        <dt class="col-sm-2">Email</dt>
        <dd class="col-sm-10">@Model.Email</dd>

        <dt class="col-sm-2">Estado</dt>
        <dd class="col-sm-10">@(Model.Estado ? "Activo" : "Inactivo")</dd>
    </dl>
</div>

<p>
    <a asp-action="Update" asp-route-Id="@Model.IdPropietario" class="btn btn-warning">Editar</a> |
    <a asp-action="Index" class="btn btn-secondary">Volver</a>
    <a asp-controller="Inmueble" asp-action="InmueblesPorPropietario" asp-route-idPropietario="@Model.IdPropietario" class="btn btn-primary"> Ver inmuebles de este propietario</a>

</p>