@model IEnumerable<INMOBILIARIA_JosiasTolaba.Models.Inmueble>

@{
	ViewData["Title"] = "Inmueble";
}

<h1>
	Inmueble
</h1>
<hr />
<p>
    <a class="btn btn-primary" asp-action="Create" title="Crear"><i class="fa-solid fa-plus"></i>➕ Nuevo Inmueble</a>
</p>
<hr />
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Id</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var inmueble in Model)
        {
            <tr>
                <td>@inmueble.IdPropietario</td>
                <td>@inmueble.Tipo</td>
                <td>
                    @(inmueble.Estado ? "Activo" : "Inactivo")
                </td>
                <td>
                    <a asp-controller="Inmueble" asp-action="Details" asp-route-IdInmueble="@inmueble.IdInmueble" class="btn btn-info btn-sm">Detalles</a>
                    <a asp-controller="Inmueble" asp-action="Update" asp-route-IdInmueble="@inmueble.IdInmueble" class="btn btn-warning btn-sm">Editar</a>
                    <a asp-controller="Inmueble" asp-action="DarDeBaja" asp-route-IdInmueble="@inmueble.IdInmueble" class="btn btn-danger btn-sm">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>